<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Pessoas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <td>Nome</td>
                            <td>Data de admissão</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lista_pessoa in lista_pessoas %}
                        <tr>
                          <td>{{lista_pessoa[0]}}</td>
                          <td>{{ lista_pessoa[1].strftime('%d/%m/%Y') }}</td>
                          <td>
                            <form action="/delete/{{lista_pessoa[2]}}" method="GET">
                              <input type="submit" value="Excluir">
                            </form>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="section-inserir">
        <div class="container">
            <div class="row">
                <form action="/save" method="post">
                    <input type="text" name="nome" id="" placeholder="Nome" required>
                    <input type="text" name="rg" placeholder="RG" required> 
                    <input type="text" name="cpf" placeholder="CPF" required> 
                    <input type="number" name="funcao" placeholder="Função" required> 
                    <div class="datas">
                      <label for="">Data Nascimento</label>
                      <input type="date" name="data_nasc" required> 
                    </div>
                    <div class="datas">
                      <label for="">Data Admissão</label>
                      <input type="date" name="data" required> 
                    </div>
                    <input type="submit">
                </form>
            </div>
        </div>
    </section>

    
</body>
</html>